:host {
  --background-color: #007bff;
  --hover-background-color: #0056b3;
  --font-color: #fff;
}
.button {
  background-color: var(--background-color);
  color: var(--font-color);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: flex-start;
  width: fit-content;
}

.button:hover {
  background-color: var(--hover-background-color);
}

