.wrapper-horizontal {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.card-vertical {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.card-horizontal {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label-input-wrapper{
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: space-between;
}